
.cabeca {
    background-color: #020247;
}

.grades {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

}

.artigos img {
max-width: 300px;
display: block;
border-radius: 20px;
padding-left: 5px;
margin-top: 20px;
border-style: initial;
}

.cabeca img {
    max-width: 100%;
}

.corpao {
margin-top: auto;
margin-bottom: auto;
margin-left: auto;
margin-right: auto;
background-color: rgb(0, 0, 0);
}


.rodape p {

font-size: 30px;
color: azure;
font-family:monospace;

}

.titulo {

color: azure;
font-family:monospace;
text-align: center;
}

.lista a {
    color: rgb(255, 255, 255);

}

.lista li {
    list-style: none;
    width: 100%;
    margin: 20px;
}




.artigos {

    padding-left: 15px;
}

.rodatitulo {
    color: rgb(209, 228, 228);
    text-decoration: underline;
}

.materia img {
    padding-left: 5px;
width: 20%;
border-radius: 20px;
margin-left: 5px;
display: block;
border-style: initial;
}

.materia p {
font-size: 15px;
}

.rodape {
background-color: rgb(7, 50, 114);
}

.fim img {
  padding-left: 15px;
border-radius: 20px;
}


.fim {
    background-color: rgb(13, 45, 92);
}


.rodape p {
padding-left: 10px;
padding-left: 10px;
}

.fim h1 {
color: azure;
text-align: center;
text-decoration: underline;
}

.rodape a {
padding-left: 28px;
padding-bottom: 40px;
}


.flex {
display: flex;
width: 60%;
padding-left: 217px;

}


.lista1 {

width: 150%;

padding-right: 100px;
}

.lista2 {
    padding-right: 100px;
    width: 170%;

}

.lista3 {
width: 150%;
}

.robo img {

  width: 100%;
}