

/*CABEÇALHO*/

.cabeca {
    background-color: #020247;
}

.cabeca img {
    max-width: 100%;
}

.lista a {
    color: rgb(255, 255, 255);

}

.lista li {
    list-style: none;
    width: 100%;
    margin: 20px;
}


.flex {
display: flex;
width: 60%;

}

.lista1 {

width: 150%;

padding-right: 100px;
}

.lista2 {
    padding-right: 100px;
    width: 170%;

}

.lista3 {
width: 150%;
}

.robo img {

  width: 100%;
}




/*CORPO*/

.grades {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

}

.artigos img {
max-width: 300px;
display: block;
border-radius: 20px;
padding-left: 5px;
margin-top: 20px;
border-style: initial;
background-image: url(paisagem.jpg);
}


.corpao {
margin-top: auto;
margin-bottom: auto;
margin-left: auto;
margin-right: auto;
background-color: rgb(20, 20, 20);
}


.titulo {

color: azure;
font-family:monospace;
text-align: center;
}


.artigos {

    padding-left: 15px;
}

.rodatitulo {
    color: rgb(209, 228, 228);
    text-decoration: underline;
}

.materia img {
    padding-left: 5px;
width: 20%;
border-radius: 20px;
margin-left: 5px;
display: block;
border-style: initial;
}

.materia p {
font-size: 15px;
}


/*RODAPÉ*/

.rodape {

color: azure;

background-color: rgb(24, 22, 22);
display: flex;

}

.rodaimg {
padding: 10px;
}


.rodape p {
    font-size: 30px;
    padding-left: 100px;

}

.texto1 {
    padding-left: 90px;

}
.texto2 {

    padding-right: 50px;
}




/*MEDIA*/

@media(min-width: 1920px) {

.flex {
padding-left: 335px;
    }
}



