@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


* {
    box-sizing: border-box
}


:root {
--red: #FF0000;
--skyblue: #87CEEB;
--midnightblue: #191970;
--maroon: #800000;
--black: #000000;
--teal: #008080;
--silver: #C0C0C0;
--white: #FFFFFF;
--aliceblue: #F0F8FF;
}



/*SITE PRINCIPAL*/

/*CABEÇALHO | PRINCIPAL*/

.titulo {
color: var(--aliceblue);
font-family: "Playfair", cursive;
text-align: center;
}

.cabeca {
    background-color: var(--black);
}

.cabeca img {
    max-width: 100%;
}


.lista li {
    list-style: none;
    width: 100%;
    margin: 20px;
}


.flex {
display: flex;
width: 80%;
}

.lista {

    padding-left: 100px;
}

.robo img {

  width: 100%;
}

.comentario-lista-principal-contato {
color: var(--aliceblue);
font-family: "Playfair", cursive;
font-size: 20px;
padding-left: 120px;
}

.comentario-lista-principal-galeria {
color: var(--aliceblue);
font-family: "Playfair", cursive;
font-size: 20px;
padding-left: 160px;
}

.comentario-lista-principal-carrinho {
color: var(--aliceblue);
font-family: "playfair", cursive;
font-size: 20px;
padding-left: 145px;

}

/*CORPO | PRINCIPAL*/

.grades {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.artigos img {
max-width: 300px;
display: block;
border-radius: 20px;
padding-left: 5px;
margin-top: 20px;
border-style: initial;
background-image: url(paisagem.jpg);
}


.corpao {
margin-top: auto;
margin-bottom: auto;
margin-left: auto;
margin-right: auto;
background-color: rgb(8, 8, 8);
}





.artigos {

    padding-left: 15px;
}

.rodatitulo {
    color: rgb(209, 228, 228);
    text-decoration: underline;
}

.materia img {
    padding-left: 5px;
width: 20%;
border-radius: 20px;
margin-left: 5px;
display: block;
border-style: initial;
}

.materia p {
font-size: 15px;
}

/*RODAPÉ | PRINCIPAL*/

.rodape {

color: azure;

background-color: rgb(24, 22, 22);
display: flex;

}

.rodaimg {
padding: 10px;
}


.rodape p {
    font-size: 30px;
    padding-left: 100px;

}

.texto1 {
    padding-left: 90px;

}
.texto2 {

    padding-right: 50px;
}









/*GALERIA*/

/*CABEÇALHO | GALERIA*/

.cabecalho {
    background-color: var(--black);
    }
    
    .cabecalho img {
    width: 10%;
    }
    

    /*CORPO | GALERIA*/

    .corpointeiro {
    background-color: rgb(20, 20, 20);
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    }

    .main-main {

        padding-left: 10px;
        padding-right: 10px;
    }
    
    h1 {
    color: azure;
    font-family:inherit;
    text-align: center;
    padding-bottom: 50px;
    }
    
    .grade {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
    
  .comentario {

font-size: 30px;
font-family: Playfair, 'Times New Roman', Times, serif;
color: var(--white);
text-align: center;
  }

    .imagem-galeria img {
    width: 95%;
    border-radius: 20px;
    padding-left: 7px;
    background-color: rgb(0, 0, 0);
    }
    
    .corpo p {
    
    color: azure;
    padding-left: 125px;
    }
    
    /*RODAPÉ | GALERIA*/
    

    









  /*CARRINHO*/

  /*CABEÇALHO | CARRINHO*/

.topo {

    background-color: var(--maroon)
}

.carrinho-titulo {
font-size: 50px;
text-align: center;
color:var(--aliceblue);
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/*CORPO | CARRINHO*/

.tudo {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--maroon);
}

.corpo-carrinho {

    background-color: var(--maroon);
}

.artigo {

    background-color: var(--maroon);
}

.artigo img {
width: 100%;
}



/*RODAPÉ | CARRINHO*/

.rodape {

    background-color: var(--black);
}

.casa {
    max-width: 200px;
}





/*CONTATO*/


/*CABEÇALHO | CONTATOS*/

.topo-topo {

background-color: rgb(55, 179, 236);

}


.corpo {

background-color: rgb(33, 126, 163);
font-size: 40px;
font-family:Georgia, 'Times New Roman', Times, serif;
color: rgb(221, 235, 30);
padding-bottom: 40px;

}


.pezinho {

padding-top: 100px;
background-color: rgb(55, 179, 236);

}

.botao2 {

color: azure;

}



.campo {
    display: block;
    width: 100%;
    height: 30px;
    padding-left: 10px;
    border: 1px;
    border-radius: 10px;
    border: none;
    background-color: rgb(181, 184, 182);

}

.botao {

    margin-left: 10px;
    border-radius: 10px;
    border: none;

}

.contato {

    background-color: rgb(13, 151, 151);
    padding: 30px;
    max-width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 60px;

}


select {


    margin-left: 10px;
}

.titulo {

text-align: center;
font-size: 30px;

}

textarea.campo {

height: 150px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
padding-top: 10px;

}

.rodape a:hover {

color: aqua;

}

.campo:focus {

background-color: rgb(255, 255, 255);

}

.navegador a {

color: rgb(209, 212, 11);

}

.mapa {

width: 100%;
padding-bottom: 40px;
padding-top: 40px;

}

/*MEDIA*/

@media(min-width: 1920px) {

.flex {
padding-left: 115px;
    }
}

@media (max-width: 768px) {

 .contato {

        background-color: rgb(13, 151, 151);
        padding: 30px;
        width: 35%;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: auto;
        margin-right: auto;
        border-radius: 60px;
    
    }

.titulo {

font-size: 40px;

}

.navegador a {
    color: rgb(209, 212, 11);


}



}

.botao3 {

font-size: 30px;

}




@media (max-width: 1366px) {

.navegador {
text-align: left;
font-size: 20px;


}

}

.navegador img {

width: 20%;
}

