
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

* {
    box-sizing: border-box
}


:root {
--red: #FF0000;
--skyblue: #87CEEB;
--midnightblue: #191970;
--maroon: #800000;
--black: #000000;
--teal: #008080;
--silver: #C0C0C0;
--white: #FFFFFF;
--aliceblue: #F0F8FF;
--DarkBlue:  #00008B;
--Yellow: #FFFF00;






}



/*SITE PRINCIPAL*/

/*CABEÇALHO | PRINCIPAL*/


.cabeca {
    background-color: var(--black);
}

.cabeca img {
    max-width: 100%;
}


.lista li {
    list-style: none;
    width: 100%;
    margin: 20px;
    
}

.listas {

padding-left: 100px;
width: 120%;

}

.flex {
display: flex;
width: 80%;
}

.lista-principal {
    padding-left: 100px;
}

.imagem-poster-principal img {

  width: 100%;

}

.comentario-lista-principal-contato {
color: var(--aliceblue);
font-family: "Russo One", cursive;
font-size: 20px;
padding-left: 200px;
}

.comentario-lista-principal-galeria {
color: var(--aliceblue);
font-family: "Russo One", cursive;
font-size: 20px;
padding-left: 237px;
}

.comentario-lista-principal-carrinho {
color: var(--aliceblue);
font-family: "Russo One", cursive;
font-size: 20px;
padding-left: 230px;

}

/*CORPO | PRINCIPAL*/

.titulo {
color: var(--aliceblue);
font-family: "Workbench", cursive;
text-align: center;
}

.grades {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.artigos img {
max-width: 300px;
display: block;
border-radius: 20px;
padding-left: 5px;
margin-top: 20px;
border-style: initial;
background-image: url(paisagem.jpg);
}


.corpao {
margin-top: auto;
margin-bottom: auto;
margin-left: auto;
margin-right: auto;
background-color: rgb(8, 8, 8);
}





.artigos {

    padding-left: 15px;
}

.rodatitulo {
    color: rgb(209, 228, 228);
    text-decoration: underline;
}

.materia img {
    padding-left: 5px;
width: 20%;
border-radius: 20px;
margin-left: 5px;
display: block;
border-style: initial;
}

.materia p {
font-size: 15px;
}

/*RODAPÉ | PRINCIPAL*/

.rodape {

color: azure;

background-color: rgb(24, 22, 22);
display: flex;

}

.rodaimg {
padding: 10px;
}


.rodape p {
    font-size: 30px;
    padding-left: 100px;

}

.texto1 {
    padding-left: 90px;

}
.texto2 {

    padding-right: 50px;
}






/*GALERIA*/

/*CABEÇALHO | GALERIA*/

.cabecalho {
    background-color: var(--black);
    display: flex;
    padding-left: 130px;
    }
    
    .cabecalho img {
    width: 40%;
    margin: 20px;
    }
    

.quiz-galeria-direcionar {
padding-left: 850px;
margin-top: 20px;

}

    /*CORPO | GALERIA*/

    .corpointeiro {
    background-color: rgb(20, 20, 20);
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    }

    .main-main {
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .primeiro-titulo-galeria {
    color: azure;
    font-family:"Russo One", cursive;
    text-align: center;
    padding-bottom: 50px;
    }

    .segundo-titulo-galeria {
font-family: "Russo One", cursive;
text-align: center;
color: azure;
padding-bottom: 50px;
font-size: 40px;

    }
    
    .grade {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
    
.comentario {
font-size: 30px;
font-family: "Russo One", 'Times New Roman', Times, serif;
color: var(--white);
text-align: center;
  }

    .imagem-galeria img {
    width: 95%;
    border-radius: 20px;
    padding-left: 7px;
    background-color: var(--black);
    }
    
    .corpo p {
    
    color: azure;
    padding-left: 125px;
    }
    


    /*RODAPÉ | GALERIA*/
    

    




  /*CARRINHO*/

  /*CABEÇALHO | CARRINHO*/

.topo {

    background-color: var(--maroon)
}

.carrinho-titulo {
font-size: 50px;
text-align: center;
color:var(--aliceblue);
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/*CORPO | CARRINHO*/

.tudo {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--maroon);
}

.corpo-carrinho {

    background-color: var(--maroon);
}

.artigo {

    background-color: var(--maroon);
}

.artigo img {
width: 100%;
}



/*RODAPÉ | CARRINHO*/

.rodape {

    background-color: var(--black);
}

.casa {
    max-width: 200px;
}





/*CONTATO*/


/*CABEÇALHO | CONTATOS*/

.topo-topo {

background-color: rgb(55, 179, 236);

}

.titulo {

text-align: center;
font-size: 30px;

}


/*CORPO | CONTATOS*/

.corpo {

background-color: var(--maroon);
font-size: 40px;
font-family:Georgia, 'Times New Roman', Times, serif;
color: rgb(221, 235, 30);
padding-bottom: 40px;

}

.titulo-label-corpo {

font-family: "Workbench", cursive;


}


.pezinho {

padding-top: 100px;
background-color: var(--maroon);

}

.botao2 {

color: azure;

}



.campo {
    display: block;
    width: 100%;
    height: 30px;
    padding-left: 10px;
    border: 1px;
    border-radius: 10px;
    border: none;
    background-color: rgb(181, 184, 182);

}

.botao {

    margin-left: 10px;
    border-radius: 10px;
    border: none;

}



select {

    margin-left: 10px;
}


textarea.campo {

height: 150px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
padding-top: 10px;

}

.rodape a:hover {

color: aqua;

}

.campo:focus {

background-color: rgb(255, 255, 255);

}

.navegador a {

color: rgb(209, 212, 11);

}

.mapa {

width: 100%;
padding-bottom: 40px;
padding-top: 40px;

}





/*QUIZ*/
/*QUIZ | CABEÇALHO*/

.lista-quiz {
background-color: var(--white);
text-align: center;
padding: 40px;
margin: 70px 40px;
border-radius: 30px;
border: 5px solid var(--red);
width: 50%;
margin-right: auto;
margin-left: auto;
font-family: "Russo One", cursive;
font-size: 30px;
}


/*QUIZ | CORPO*/

.corpo-quiz {
    background-color: var(--black);
}

.botao-quiz {
width: 60%;
padding: 30px;
margin: 40px;
border-radius: 20px;
display: block;
border-color: var(--red);
border-left: 5px solid var(--red);
border-right: 5px solid var(--red);
font-family: "Russo One", cursive;
font-size: 30px;
}

.botoes-quiz {
padding-left: 485px;
}


.botao-quiz:hover {
background-color: var(--Yellow);
cursor: pointer;
}

.link-quiz {
text-decoration: none;
}


/*RODAPÉ | QUIZ*/

 